body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button { margin: 0; padding: 0; }

a { text-decoration: none; }
a:active, a:hover { text-decoration: none; color:#33ccff;}

/*通用侧边栏分享 top可改上下距离*/
#appgame-leftside-share{width:44px; height:302px; position:fixed; left:50%; margin-left:625px; top:50%; margin-top:-61px; z-index:9999; display:none;}
.appgame-leftside-share{width:44px; height:259px;}
#appgame-leftside-share a{display:block; width:44px; height:44px; background-color:#fff; z-index:1; position:absolute; left:0; box-sizing:border-box; -moz-box-sizing:border-box; border:1px #cccccc solid; background-image:url(../images/share-icons.png); background-repeat:no-repeat; margin:0;  transition:0.4s; -webkit-transition:0.4s; -moz-transition:0.4s;}
#appgame-leftside-share a:hover{background-color:gray; border:1px gray solid; z-index:2;}
.video{top:0px; background-position:-79px -36px;}
.video:hover{background-position:-18px -36px;}
.music{top:43px; background-position:-79px -86px;}
.music:hover{background-position:-18px -92px;}
.appgame-leftside-sqq{top:86px; background-position:-79px -138px;}
.appgame-leftside-sqq:hover{background-position:-18px -138px;}
.appgame-leftside-tsina{top:129px; background-position:-79px -190px;}
.appgame-leftside-tsina:hover{background-position:-18px -185px;}
.appgame-leftside-fbook{top:172px; background-position:-79px -243px;}
.appgame-leftside-fbook:hover{background-position:-18px -243px;}
.appgame-leftside-twi{top:215px; background-position:-79px -296px;}
.appgame-leftside-twi:hover{background-position:-18px -296px;}
#appgame-leftside-share .appgame-leftside-top{background-image:url(../images/leftnav-off.png); background-position:-5px -5px; top:258px; cursor:pointer;}

.rwt_share {
	overflow:hidden;
	float:left;
	position:relative;
}
.rwt_share a {
	display:inline-block;
	margin-right:10px;
	text-indent:-9999px;
	margin-bottom:10px;
	width:24px;
	height:24px;
	overflow:hidden;
	cursor:pointer;
	float:left;
	font-size:12px;
}
.rwts_weixin {
	background-position:0 -1612px;
}
.rwts_tsina {
	background-position:0 -104px;
}
.rwts_tqq {
	background-position:0 -260px;
}
.rwts_qzone {
	background-position:0 -52px;
}
.rwts_sqq {
	background-position:0 -2652px;
}
.rwts_tieba {
	background-position:0 -728px;
}
.rwts_renren {
	background-position:0 -208px;
}
.rwts_kaixin001 {
	background-position:0 -312px;
}
.rwts_tqf {
	background-position:0 -364px;
}
.rwts_douban {
	background-position:0 -468px;
}
.rwts_twi {
	background-position:0 -1404px;
}
.rwts_fbook {
	background-position:0 -1352px;
}
.rwts_ty {
	background-position:0 -1196px;
}
.rwts_mogujie {
	background-position:0 -1768px;
}
.rwts_meilishuo {
	background-position:0 -1716px;
}
.rwts_huaban {
	background-position:0 -1872px;
}
.rwts_hi {
	background-position:0 -416px;
}
.rwts_tsohu {
	background-position:0 -520px;
}
.rwts_more {
	background-position:0 0;
}
.rwt_share_wxShow_code>img {
	width:100%;
}
